.pageWrapper {
  width: 100%;
}

.container {
  /* max-width: 1180px; */
  margin: 16px auto 80px;
  padding: 0 12px;
}

.loading {
  padding: 20px;
  color: #666;
}

.error {
  padding: 20px;
  color: crimson;
}

.empty {
  padding: 20px;
  color: #666;
}
